@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;    
   }
   
body {
color: #6072be;
font-family: Consolas,monaco,monospace;
background: rgb(255, 255, 255);
background-image:url(https://optim.tildacdn.com/tild6431-3033-4638-b762-373763666131/-/format/webp/IMG_E4087.jpeg) ;
background-attachment: fixed;
background-size: cover;
}

main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
/*Header*/

header {
    width: 100%;
    height: 140px;
    background-color: #000000;
    display: flex;
    justify-content:space-around;
    align-items: center;
    opacity: 70%;
   }

   .header_logo
   {
     width: 120px;
     height: 120px;
   }

   .header_nav {
    margin-left: 170px;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    font-size: 20px;
    gap: 10px;
   }


   .header_point {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    color: #eee;
    cursor: pointer;
   }

   .header_text:hover {
    color: #f7cc4e;
    transition: .6s;
    text-decoration: none;
   }

.header_text:not(hover) {
    color: #eee;
    transition: .6s;
    text-decoration: none;
}

   .header_text-lock {
    cursor: default;
    color: hwb(45 31% 3%);
    text-decoration: none;
   }

   .info{
    display:flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}
.tel{
    
    font-size: 24px;
}
.gmail{
    font-size: 18px;
}
.contacts{
    display: grid;
    color: #eee;
    gap: 5px;
}
.buttons{
background-color: transparent;
border-radius: 5px;
}
.button{
    background-color:rgb(22, 123, 128);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border: none;
}
.button:hover{
    cursor:pointer;
}

.info_logo{
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}
.teleg{
    left: 13px;
}

.main-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-name{
    font-family: "Montserrat", sans-serif;
    width: 600px;
    text-align: center ;
    font-size:large;
    font-size: 54px;
    font-weight: 700;
    padding-top: 140px;
    letter-spacing: 2px;
    color: rgba(58, 58, 58, 0.801);
}
.button-banner{
    margin-top: 100px;
    margin-bottom: 370px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgba(58, 58, 58, 0.801);
    background-color: rgba(223, 223, 223, 0.363);
    font-size: 20px;
    font-weight: 500;
}
.button-banner:hover{
    border-color: rgba(190, 190, 190, 0.644);
    background-color: rgba(58, 58, 58, 0.801);
    color: rgb(255, 255, 255);
    transition: .6s;
}
.button-banner:not(hover) {
    transition: .6s;
}

.card_holder{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background-color: #282828;
}

.sity-name{
    font-size: 50px;
    color: #eee;
    padding-top: 70px;
}

.card{
    margin-top: 30px;
    width: 1214px;
    height: 598px;
    border-radius: 60px;
    background-color: #000000;
    background-size: cover;
}

.card_slice{
    background-color: rgba(0, 0, 0, 0.705);
    width: 450px;
    height: 100%;
    border-top-left-radius:60px;
    border-bottom-left-radius: 60px;
    display: flex;
    flex-direction: column;
}

.place-name{
    padding-top:40px;
    font-size: 36px;
    color: #eee;
    text-align: center;
}

.place-disc{
    padding-left: 50px;
    padding-top: 20px;
    color: #eee;
    width: 400px;
}

.card1{
    background-image: url(https://vdkgo.ru/wp-content/uploads/2017/04/TinyGrab-Screen-Shot-10-02-2018-7.29.07-PM-1434x800.png);
}
.card2{
    background-image: url(https://s13.stc.all.kpcdn.net/russia/wp-content/uploads/2024/10/most-v-Habarovske-reka-Amur.jpg);
}
.card3{
    background-image: url(https://s13.stc.all.kpcdn.net/russia/wp-content/uploads/2023/12/reka-lena-shirina.jpg);
}
.card4{
    background-image: url(https://www.inyakutia.ru/upload/iblock/51f/ekmcbfwmvutjlprjdwlpaaba9404v5rx.jpg);
}
.card5{
    background-image: url(https://storage.yandexcloud.net/storage.yasno.media/nat-geo/images/2019/5/14/2f109b4f7f044f36a15458ad080718b3.max-2500x1500.jpg);
}
.card6{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7c/%E9%88%B4%E8%B0%B7%E5%B2%B3%E5%B1%B1%E9%A0%82.JPG);
}
.card7{
    background-image: url(https://s13.stc.all.kpcdn.net/russia/wp-content/uploads/2022/06/Nizhnij-Amur_Maksim-Gavrilov.jpg);
}
.card8{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5d/Klyuchevskoi.jpg);
}
.card9{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/%D0%90%D0%BC%D1%83%D1%80%D1%81%D0%BA%D0%B8%D0%B5_%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2%D0%B0.jpg/1920px-%D0%90%D0%BC%D1%83%D1%80%D1%81%D0%BA%D0%B8%D0%B5_%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2%D0%B0.jpg);
}